asgiref==3.8.1
coverage==7.9.1
Django==5.2.3
django-browser-reload==1.18.0
django-ratelimit==4.1.0
django-tailwind==4.0.1
iniconfig==2.1.0
packaging==25.0
pillow==11.2.1
pluggy==1.6.0
psycopg==3.2.9
psycopg-binary==3.2.9
Pygments==2.19.2
pytest==8.4.1
pytest-django==4.11.1
python-decouple==3.8
python-magic==0.4.27
sqlparse==0.5.3
typing_extensions==4.14.0
reportlab==4.4.2
